<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/admin}"
>
<head>
    <meta charset="UTF-8">
    <title>Product List</title>

    <!--css-->

    <link th:href="@{/css/bootstrap.css}" rel="stylesheet"/>
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
    <!--js-->

    <script th:src="@{/js/bootstrap.js}"></script>
</head>
<body>
<div layout:fragment="content">
    <h1>List Product</h1>
    <a th:href="@{/addProduct}" class="btn btn-success">Add Product
    </a>
    <br>
    <table>
        <tr >
            <th>Id</th>
            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th >Categoryid</th>
        </tr>
        <tr th:each="product : ${productList}">
            <td th:text="*{product.getId()}">Alfreds Futterkiste</td>
            <td th:text="*{product.getName()}">Maria Anders</td>
            <td th:text="*{product.getPrice()}">Maria Anders</td>
            <td th:text="*{product.getQuantity()}">Maria Anders</td>
            <td th:text="*{product.category.getName()}">Maria Anders</td>
            <td colspan="2">
                <a th:href="@{/edit/{id}(id=${product.id})}">Edit</a>
                <a th:href="@{/delete/{id}(id=${product.id})}">Delete</a>
            </td>
        </tr>
    </table>
</div>

</body>
</html>